<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <servlet>
        <servlet-name>hello3</servlet-name>
        <servlet-class>chapter4.Hello3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello3</servlet-name>
        <url-pattern>/chapter4/hello3</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>hellofilter</filter-name>
        <filter-class>chapter10.HelloFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>hellofilter</filter-name>
        <url-pattern>/chapter3/hello</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>hellofilter2</filter-name>
        <filter-class>chapter10.HelloFilter2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>hellofilter2</filter-name>
        <url-pattern>/chapter3/hello</url-pattern>
    </filter-mapping>

</web-app>
